<div class="container">
  
    <div class="d-flex justify-content-between">
      <h4>Edit project</h4>
      <a href="#" routerLink="/project/index" class="btn btn-primaryt">Back</a>
    </div>

    <hr>

    <form [formGroup]="form" (ngSubmit)="submit()">


        <div class="form-group row">
            <div class="col-md-6 ">
              <label for="titre">Titre:</label>
              <input
                formControlName="titre"
                [(ngModel)]="project.titre"
                id="titre"
                type="text"
                class="form-control">
              <div *ngIf="f.titre.touched && f.titre.invalid" class="alert alert-danger">
                  <div *ngIf="f.titre.errors.required">*titre is required.</div>
                  <div *ngIf="f.titre.errors.pattern">*The titre must only contain letters.</div>
              </div>
            </div>
        </div>

        <div class="form-group row">
            <div class="col-md-6 ">
              <label for="categorie">Categorie:</label>
              <input
                formControlName="categorie"
                [(ngModel)]="project.categorie"
                id="categorie"
                type="text"
                class="form-control">
            </div>
        </div>

        <div class="form-group row">
            <div class="col-md-6 ">
              <label for="created_at">Date De Creation:</label>
              <input
                [(ngModel)]="project.created_at"
                formControlName="created_at"
                id="created_at"
                type="date"
                class="form-control"> 
            </div>
        </div>

        <button class="btn btn-primary" type="submit" [disabled]="!form.valid">Update</button>
    </form>
</div>
