<div>

    <div class="d-flex justify-content-between">
      <h4>Form customer</h4>
      <a href="#" routerLink="/categorie/index" class="btn btn-primaryt">Back</a>
    </div>
  
    <hr/>
  
      <form [formGroup]="form" (ngSubmit)="submit()">
  
          <div class="form-group row">
              <div class="col-md-6 ">
                <label for="titre">Titre:</label>
                <input
                  formControlName="titre"
                  id="titre"
                  type="text"
                  class="form-control">
                <div *ngIf="f.titre.touched && f.titre.invalid" class="alert alert-danger">
                    <div *ngIf="f.titre.errors.required">*titre is required.</div>
                    <div *ngIf="f.titre.errors.pattern">*The titre must only contain letters.</div>
                </div>
              </div>
          </div>
  
          <div class="form-group row">
              <div class="col-md-6 ">
                <label for="description">Description:</label>
                <input
                  formControlName="description"
                  id="description"
                  type="text"
                  class="form-control">
              </div>
          </div>

  
          <button class="btn btn-primary" type="submit" [disabled]="!form.valid">Submit</button>
      </form>
  </div>